$color-bue-violet: #574ae8;
$color-dark-grey: #475461;
$color-grey: #B6B6B6;
$color-opaque-white:#F3F5F7;
$color-white:#FFFFFF;
$color-tittle:#313131;

$bg-linear: linear-gradient(to right, #574AE8, #3EA1DB);

// FONT SYZE

$normal-font: 1rem;

//  FONT FAMILY

$font-lexend: 'lexend', sans-serif;

// 

